
*{
  margin: 0;
    padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans' ;
}
body{
  background-image: url(https://i.pinimg.com/564x/7d/68/eb/7d68eb076f4a512fba3702a62e516401.jpg);
}

nav{
  max-width: 900px;
  margin: auto;
  background-color: #91692f;
  font-size: 40px;
  margin-top: 60px;
}
.menu-horizontal{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.menu-horizontal > li > a{
  display: block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
}
.menu-horizontal > li:hover{
  background-color: #91692f;
}
.menu-vertical{
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: #8d6830;
}
.menu-horizontal li:hover .menu-vertical{
  display: block;
}
.menu-vertical li:hover{
  background-color: rgb(112, 78, 14)
}
.menu-vertical li a{
  display: block;
  color: #ffffff;
  padding: 15px 15px 15px 20px;
  text-decoration: none;
}
h1 {
text-align: center;
color: #ffffff;
font-size: xx-large;
margin: 5%;
}
.imagen-redonda {
  width: 500px; 
  height: 500px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
justify-content: center;

}
